* {
  font-family: "Roboto, sans-serif";
}

.btn-primary {
  background-color: #d5c7fa !important;
  color: #444 !important;
  border: none !important;
}

.App .navbar {
  padding: 0;
}

.App .navbar .navbar-container{
  margin: 0 auto;
}

.App .navbar .navbar-container .nav-menu{
  margin: 0;
}