.main-content{
    margin-top: 50px;
}

.main-content p{
    font-size: 18px;
    line-height: 28px;
}

.main-content p.heading{
    font-size: 22px;
    margin-top: 50px;
}

.main-content img{
    width: 100%;
    height: auto;
}