.welcomeUser{
  margin-top: 20px;
}

.welcomeUser p{
  font-size: 20px;
  line-height: 32px;
}

.welcomeUser p span{
  font-size: 14px;
}

.content-box {
  margin: 30px auto;
  width: 400px;
  height: fit-content;
  border: solid 0.5px #999999;
  border-radius: 15px;
  box-shadow: 5px 10px #ddd;
  padding: 20px;
}

.content-title {
  text-align: center;
}

.fields-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile-field {
  padding: 20px;
  justify-content: space-around;
}

.profile-field label{
  float: left;
  padding-top: 9px;
}

.input-field {
  width: 65px;
  border-radius: 5px;
  border: solid 0.5px;
  padding: 8px;
  float: right;
}

.save-button {
  background-color: #FF9902;
  color: white;
  width: 70px;
  height: 30px;
  border: none;
  font-weight: bold;
  margin: 20px auto;
}
.error-text {
  color: red;
  padding: 20px;
  justify-content: space-around;
}