.advance-filter .upload-section .upload-start-button{
  margin-left: 0;
  margin-right: 0;
}
.advance-filter .upload-text {
  font-size: 18px;
  margin: 10px;
  margin: 0;
  font-weight: bold;
  text-transform: none;
}

.advance-filter .upload-text span{
  font-size: 16px;
  padding-top: 10px;
  display: block;
}

.advance-filter .upload-modal {
  border: dashed 3px #bbb;
  border-radius: inherit;
}

.advance-filter .upload-start-button {
  margin: 20px;
  width: fit-content;
}

.advance-filter .upload-button {
  margin: 20px auto;
  width: fit-content;
}

.advance-filter .header {
  border-bottom: none !important;
}

.advance-filter .choose-button {
  margin: 20px auto;
  width: fit-content;
  color: #fff !important;
  background-color: #807897 !important;
}

.advance-filter .hint-text {
  margin: 10px auto;
}

.advance-filter .modal-content {
  border: none !important;
}

.advance-filter .upload-icon {
  margin: 20px auto;
  color: #807897;
}

.advance-filter .preview-img {
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
}

.advance-filter .upload-img{
  padding: 20px;
  max-width: 210px;
}


.upload-section {
  display: flex;
  flex-direction: column;
}
.upload-text {
  width: 70px;
  font-size: 15px;
  margin: 10px;
  text-overflow: unset;
  text-align: justify;
}
.upload-modal {
  border: dashed 3px #bbb;
  border-radius: inherit;
}

.upload-start-button {
  margin: 20px;
  width: fit-content;
}

.upload-button {
  margin: 20px auto;
  width: fit-content;
}

.header {
  border-bottom: none !important;
}

.choose-button {
  margin: 20px auto;
  width: fit-content;
  color: #fff !important;
  background-color: #807897 !important;
}

.hint-text {
  margin: 10px auto;
}

.modal-content {
  border: none !important;
}

.upload-icon {
  margin: 20px auto;
  color: #807897;
}

.preview-img {
  margin: 10px;
}